
@font-face {
    font-family: "josefin_sans";
    src: url('Josefin_Sans/static/JosefinSans-Regular.ttf') format("truetype"),
         url('Josefin_Sans/static/JosefinSans-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("images/sunbeam.jpg");
    background-color: #000000;
    background-size: cover;
    font-family: "josefin_sans";
    text-align: right;
    color: #f3f3f3;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  } 

img#catpic {
    border-radius: 10px;
    height: 225px;
    width: 225px;
    padding-right: 0px;
}

figcaption {
    padding: 2px 2px;
    text-align: right;
}

p.insta {
    text-align: right;
    font-family: "josefin_sans", bold;
}

section#columns div {
    border-radius: 15px;
    background-color: #00003060;
    text-align: center;
    margin: 4px 4px;
    padding: 6px 14px;
    width: 45%;
    float: right;
  }

/* unvisited link */
a:link, a:visited {
    color: #F0CA28;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: #8dcfe9;
  }

  button {
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
    transition-duration: 0.3s;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #F0CA28;
  }